[submodule "bash-git-prompt"]
	path = bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt
[submodule "vim-sleuth"]
	path = vim/bundle/vim-sleuth
	url = https://github.com/tpope/vim-sleuth
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim/bundle/ale"]
	path = vim/bundle/ale
	url = https://github.com/dense-analysis/ale
[submodule "vim/bundle/nvim-lspconfig"]
	path = vim/bundle/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "vim/bundle/eagle.nvim"]
	path = vim/bundle/eagle.nvim
	url = https://github.com/soulis-1256/eagle.nvim
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = https://github.com/wincent/command-t
